{% extends "base.html" %}
{% load wagtailcore_tags category_tags %}
{% load wagtailimages_tags %}
{% block content %}

    {% if request.GET.category %}
        {% if blogpages %}
            <h4>
                Mostrando las publicaciones de la categoria "{{ request.GET.category }}"
            </h4>
        {% else %}
            <h4>
                Todas las categorias:
            </h4>
            {% categories %}
        {% endif %}
    {% else %}
        <h4>
            Todas las categorias:
        </h4>
        {% categories %}
    {% endif %}

    {% for blogpage in blogpages %}
        <p>
            <strong><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></strong><br />
            <small>Revised: {{ blogpage.latest_revision_created_at }}</small><br />
            {% if blogpage.author %}
                <p>
                    Por: {{ blogpage.author.profile }}
                </p>
            {% endif %}
        </p>
    {% empty %}
        {% if request.GET.category %}
            <p>
                No se ha publicado nada en esta categoria.
            </p>
        {% endif %}
    {% endfor %}

{% endblock %}